<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--s[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    {% include head.html %}
</head>

<body id="post">

    {% include browser-upgrade.html %}
    <div class="container">
        <h1><img class="logo" src="../images/logo.png">Member Profile</h1>
        <div class="jumbotron member-profile">
            <div class="container member-header">
                <header>
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-circle" src="{{ site.url }}/images/{{ page.image.profile }}" alt="{{ member.title }}">
                        </div>
                        <div class="col-md-9">
                            <h1>{{ page.title }}</h1>
                            <h4>{{ page.description }}</h4>
                            {% if page.batch %}
                            <h4>Batch: {{ page.batch }}</h4>
                            {% endif %}
                            {% if page.current %}
                            <h4>Currently: {{ page.current }}</h4>
                            {% endif %}
                        </div>
                    </div>
                </header>
            </div>
            <div class="container member-article">
                <article>
                {{ content }}
                </article>
            </div>
        </div>
    </div>
    {% include footer.html %}

    {% include scripts.html %}

</body>
</html>
